body{
    background-color: black;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}


h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}


h3{

    font-size: 23px;
    line-height: 23px;
    font-family: font-family: 'Anton', sans-serif;
}

span{
    color: rgb(241, 81, 23);
}

a{
    color: white;
}

a:hover{
    color: rgb(241, 81, 23);
    transition: 0.3s all;
}

p{
    line-height: 20px;
}

img{
    width: 580px;
    height: 600px;
    margin-left: 35%;
    
}

input{
    padding: 20px;
    border-radius: 20px;
    
}

button{
    text-align: center;
    align-items: center;
    margin-top: 50px;
    height: 50px;
    width: 50%;
    background-color: rgb(241, 81, 23);
    border-radius: 50px;
}

@media screen and (max-width: 760px){

    header{
    flex-direction: column;
    }

    main{
    flex-direction: column;
    }

    h2{
    font-size: 38px;
    }

    form{
    margin: 0 auto;
    width: 100%;
    }

    input{
    align-self: center;
    }

    img{
    display: none;
    }

    
    ul{
    text-align: center;
    }
}
footer{
    text-align: center;
    margin-top: 10%;
  }

